:root {
    --clr-light-cyan: 193, 38%, 86%;
    --clr-neon-green: 150, 100%, 66%;

    --clr-gray-blue: 217, 19%, 38%;
    --clr-dark-gray-blue: 217, 19%, 24%;
    --clr-dark-blue: 218, 23%, 16%;

    --ff-primary: 'Manrope', sans-serif;

    --fs-small: 0.6875rem;
    --fs-medium: 0.8125;
    --fs-large: 1.5rem;

    --fw-primary: 800;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(var(--clr-dark-blue));
    font-family: var(--ff-primary);
    font-weight: var(--fw-primary);
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    margin-block-start: 9.84375rem;
    padding: .5em;
    width: 21.4375rem;
    height: 19.6875rem;
    text-align: center;
    border-radius: 0.625rem;
    background: hsl(var(--clr-dark-gray-blue));
    box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.advice-heading {
    color: hsl(var(--clr-neon-green));
    font-size: var(--fs-small);
    letter-spacing: 0.21606rem; ;
}

.advice-text {
    color: hsl(var(--clr-light-cyan));
    font-size: var(--fs-large);
}

.divider-img {
    padding-block-end: .75em;
}

.divider-img-desktop {
    display: none;
}

button {
    border: none;
}

.btn {
    position: absolute;
    bottom: -35px;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    /* padding: .75em 1em; */
    place-items: center;
    background-color: hsl(var(--clr-neon-green));
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    margin-block-start: 2em;
    padding-block-start: 3em;
    color: hsl(var(--clr-light-cyan));
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (min-width: 90rem) {
    .container {
        width: 33.75rem;
        height: 20.75rem;
        justify-content: space-evenly;
    }

    .advice-heading {
        font-size: var(--fs-medium);
    }

    .divider-img {
        display: none;
    }

    .divider-img-desktop {
        display: block;
    }

    
}